{% extends "main_site/base.html" %}
{% block content %}
    <script>
        $(document).ready(function () {
            $("#upload_image").click(function () {
                $("#image").click();
            });
        });

    </script>
    <style>
        #upload_image {
            cursor: pointer
        }
        {#.table thead th{#}
        {#    border-bottom:2px solid #cc1c25;!important;#}
        {#}#}
    </style>
    <div class="container header">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">

            </div>

            <div class="navbar-right">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'info' %}" style="color: #8a1010;">已选党课</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'journey_course' %}" style="color: #8a1010">参加党课</a>
                    </li>
                    </li>
                </ul>
            </div>
        </nav>
        <hr style="margin:0 !important; border:none;border-top:4px solid #cc1c25;"/>

    </div>
    <div class="container header">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col" nowrap>序号</th>
                    <th scope="col" nowrap>党课类型</th>
                    <th scope="col" nowrap>参加时间</th>
                    <th scope="col" nowrap>通过</th>
                    <th scope="col" nowrap>审核人</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td nowrap>院党课</td>
                    <td nowrap>2018-10-10</td>
                    <td nowrap>是</td>
                    <td nowrap>王帅鹏</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}